/* .doc-product{
    width: 100%;
} */

.sidebar{
    padding-left: 2rem;
    width: 15vw;
    gap: 2rem;
}

.container-one, .range-amount{
    justify-content: space-between;
    align-items: center;
}

.container-two input{
    width: 100%;
}
.container-two{
    gap: 1rem;
}
.container-three, .container-four, .input-container{
    gap: 0.5rem;
}
.container-three input{
    width: 1rem;
    height: 1rem;
}
.product-cards{
    margin-left: 2rem;
    width: 85vw;
    /* height: 100vh; */
    /* background-color: #e5e5e5; */
    
}

.cards img{
    width: 250px;
    height: 250px;
}
.cards{
    margin: 1rem;
    height: max-content;
}
.btn-card.vertical-card{
    width: 250px;
}
.product-cards{
    flex-wrap: wrap;
}

.bg-gray{
    background-color: #908988;
}

.buttons_icons{
    gap: 10px;
}

.bg-none{
    background-color: transparent;
    color: black;
    border: 1px solid;
}
